@import "compass/typography";
@import "compass/css3";

@import "partials/_mixins";
@import "partials/_functions";
@import "partials/variables/_variables";
@import "partials/variables/theme/_variables";

@import "partials/base/_reset";
@import "partials/base/_page";
@import "partials/base/_typography";
@import "partials/base/_links";
@import "partials/base/_forms";

@import "partials/modules/_modules";

body {
  margin: 0 auto;
  text-align: center;
}
.pattern {
    clear: both;
    overflow: hidden;
}
.pattern .display {
    width: 65%;
    float: left;
}
.pattern .source {
    width: 30%;
    float: right;
}
.pattern .source textarea {
    width: 90%;
}
.pattern {
  margin: 20px 10px;
  text-align: left;

}
//.pattern .source { display:none; width: none; }
.pattern .display {
    //width:100%;
}