/* @group feedback */

.feedback {
	background-color: $feedback-background;
	@include simple-padding($feedback-padding);
	@include simple-margin($feedback-margin);
	@include simple-border($feedback-border-pos, $feedback-border-width, $feedback-border-style, $feedback-border-color);
	@include border-radius ($feedback-border-radius);
	background-clip: padding-box;
}
.error {
	background-color: $feedback-error-background;
	border-color: $feedback-error-border-color;
}

/* @end feedback */