/* @group pagination */

.pagination {
	font-family: $pagination-font-family;
}
.pagination li {
	display: $pagination-li-display;
	@include simple-margin($pagination-li-margin, $pagination-li-margin-pos);
	text-indent: $pagination-text-indent;
}
.pagination a {
	display: $pagination-a-display;
	@include simple-padding($pagination-a-padding);
	line-height: $pagination-a-line-height;
	@include simple-margin($pagination-a-margin);
	@include simple-border($pagination-a-border-pos, $pagination-a-border-width, $pagination-a-border-style, $pagination-a-border-color);
	@include border-radius($pagination-a-border-radius);
	background-clip: padding-box;
}
.pagination a:link,
.pagination a:visited {
	color: $pagination-link-color;
	background-color: $pagination-link-background-color;
}
.pagination a[href]:hover,
.pagination a[href]:focus {
	color: $pagination-link-hover-color;
	background-color: $pagination-link-hover-background-color;
}
.pagination a:active {
	color: $pagination-link-active-color;
	background-color: $pagination-link-active-background-color;
}

/* @end pagination*/