@mixin set-link-colors($link-color, $mode: saturation default, $amount-1: 10%, $amount-2: -20%) {
  
  $link-color-over: adjust-saturation($link-color, $amount-1);
  $link-color-visited: adjust-saturation($link-color, $amount-2);
  
  @if $mode == lightness { 
    $link-color-over: adjust-lightness($link-color, $amount-1);
    $link-color-visited: adjust-lightness($link-color, $amount-2);
  }
  @if $mode == hue { 
    $link-color-over: adjust-lightness($link-color, $amount-1);
    $link-color-visited: adjust-lightness($link-color, $amount-2);
  }
  
  @include hover-link;
  @include link-colors( $link-color,
                        $hover: $link-color-over,
                        $active: $link-color-over,
                        $visited: $link-color-visited,
                        $focus: $link-color-over
                      );
}

@mixin simple-border($side: false, $color: #999, $style: "solid", $width: 1px) {
  @if $side == none {
    border: none;
  } @else if $side {
    border-#{$side}: $color $style $width;
  }
  @else {
    border: $color $style $width;
  }
}
@mixin simple-background-gradient($button-color, $background-gradient-pos, $background-gradient-1, $background-gradient-2) {
  color: $button-color;
  background-color: mix($background-gradient-1, $background-gradient-2);
  @include background-image(linear-gradient($background-gradient-pos, $background-gradient-1, $background-gradient-2));
}
@mixin simple-margin($amount, $side: false) {
  @if $side {
     margin-#{$side}: $amount;
   }
   @else {
     margin: $amount;
   }
}
@mixin simple-padding($amount, $side: false) {
  @if $side {
     padding-#{$side}: $amount;
   }
   @else {
     padding: $amount;
   }
}

@mixin type-size($size, $leading: false) {
  font-size: $size;
  @if $leading { line-height: $leading; }
}

@mixin bold-italic-uppercase-variant($bold :default, $italic: false, $uppercase: false, $variant: false) {
  @if $bold { font-weight: bold; } @else { font-weight: normal; }
  @if $italic { font-style: italic; }
  @if $uppercase { text-transform: uppercase; }
  @if $variant { font-variant: small-caps; }
}

@mixin content-before-after($content, $before: default, $after:false ) {
  @if $before { &:before { content: $content; } }
  @if $after { &:after { content: $content; } }
}

// Functions
@function calc-em($target-px, $context) {
  @return ($target-px / $context) * 1em;
}