$experimental-support-for-microsoft: false;
//$experimental-support-for-opera: false;

// Typography 
$body-font-family: Palatino, Cambria, Georgia, serif;
$secondary-font: Calibri, 'Helvetica Neue', Arial, sans-serif;
$header-font-family: $body-font-family;

/// html
$html-border-pos: top;
$html-border-width: 0.5em;
$html-border-style: solid;
$html-border-color: #693;
$html-background-color: #eee;

/// body
$body-background-color: #fefefe;
$body-background-rgba: rgba(255,255,255,0.9);

$body-margin: 0 2.5%;
$body-padding: 0 2.5%;
$body-font-size: 100%;
$body-line-height: 1.875;
$body-color: #333;

$body-border-pos: left;
$body-border-width: 1px;
$body-border-style: solid;
$body-border-color: #ddd;
$body-border-pos2: right;
$body-border-width2: $body-border-width;
$body-border-style2: $body-border-style;
$body-border-color2: $body-border-color;
$body-border-color-rgba: rgba(0,0,0,0.13);

/// Headers
//// h1
$h1-font-bold: false; // normal
$h1-font-italic: false; // normal
$h1-font-uppercase: false; // normal
$h1-font-variant: false; // normal
$h1-font-size: 2.5em;
$h1-line-height: 1.125;
$h1-padding: 1em;
$h1-padding-pos: top;
$h1-margin: 0.3em;
$h1-margin-pos: bottom;
$h1-color: #444;
$h1-border-pos: bottom; 
$h1-border-width: 0.2em; 
$h1-border-style: solid;
$h1-border-color: #693;
//// h2
$h2-font-bold: false; // normal
$h2-font-italic: false; // normal
$h2-font-uppercase: false; // normal
$h2-font-variant: false; // normal
$h2-font-size: 1.875em;
$h2-line-height: 1.5;
$h2-padding: 0.8333em;
$h2-padding-pos: top;
$h2-margin: 0.7em;
$h2-margin-pos: bottom;
$h2-color: #555;
$h2-border-pos: bottom; 
$h2-border-width: 0.13333em; 
$h2-border-style: solid;
$h2-border-color: #693;
//// h3
$h3-font-bold: false; // normal
$h3-font-italic: false; // normal
$h3-font-uppercase: false; // normal
$h3-font-variant: false; // normal
$h3-font-size: 1.5625em;
$h3-line-height: 1.4;
$h3-padding: 1em;
$h3-padding-pos: top;
$h3-margin: 0.7em;
$h3-margin-pos: bottom;
$h3-color: #666;
$h3-border-pos: bottom; 
$h3-border-width: 0.1em; 
$h3-border-style: solid;
$h3-border-color: #693;
//// h4
$h4-font-bold: false; // normal
$h4-font-italic: false; // normal
$h4-font-uppercase: false; // normal
$h4-font-variant: false; // normal
$h4-font-size: 1.25em;
$h4-line-height: 1.5;
$h4-padding: 1em;
$h4-padding-pos: top;
$h4-margin: 1em;
$h4-margin-pos: bottom;
$h4-color: #777;
$h4-border-pos: none; 
$h4-border-width: 0; 
$h4-border-style: solid;
$h4-border-color: #693;

//// h5
$h5-font-bold: false; // normal
$h5-font-italic: false; // normal
$h5-font-uppercase: false; // normal
$h5-font-variant: false; // normal
$h5-font-size: 1.125em;
$h5-line-height: 1.6667;
$h5-padding: 1.1111em;
$h5-padding-pos: top;
$h5-margin: 0;
$h5-margin-pos: false;
$h5-color: #888;
$h5-border-pos: none; 
$h5-border-width: 0em; 
$h5-border-style: solid;
$h5-border-color: #693;
//// h6
$h6-font-bold: false; // normal
$h6-font-italic: false; // normal
$h6-font-uppercase: false; // normal
$h6-font-variant: false; // normal
$h6-font-size: inherit;
$h6-line-height: inherit;
$h6-padding: 1em;
$h6-padding-pos: top;
$h6-margin: 0;
$h6-margin-pos: false;
$h6-color: #999;
$h6-border-pos: none; 
$h6-border-width: 0em; 
$h6-border-style: solid;
$h6-border-color: #693;

/// hr
$hr-border-pos: none; 
$hr-border-width: 0em; 
$hr-border-style: solid;
$hr-border-color: #333;
$hr-height: 0.1em;
$hr-background: #ccc;
$hr-background-rgba: rgba(0,0,0,0.2);

/// p, ul, ol, hr, table, form, fieldset
$element-margin: 1.25em 0;
/// li
$li-list-style-position: inside;
$li-margin: 1em;
$li-margin-pos: left;
$li-text-indent: -1em;

/// blockquote
$blockquote-margin: 1em;
$blockquote-font-family: $body-font-family;
$blockquote-padding: 0 1em;
$blockquote-font-bold: false; // normal
$blockquote-font-italic: true; // italic
$blockquote-font-uppercase: false; // normal
$blockquote-font-variant: false; // normal
$blockquote-font-size: 1.25em;
$blockquote-line-height: 1.5;
$blockquote-letter-spacing: 0.05em;
$blockquote-color: #888;
$blockquote-border-pos: top;
$blockquote-border-width: 0.1em;
$blockquote-border-style: solid;
$blockquote-border-color: #ccc;
$blockquote-border-pos2: bottom;
$blockquote-border-width2: $blockquote-border-width;
$blockquote-border-style2: $blockquote-border-style;
$blockquote-border-color2: $blockquote-border-color;
$blockquote-border-rgba: rgba(0,0,0,0.2);
$blockquote-border-radius: 0.25em;
/// blockquote em
$blockquote-em-font-bold: false; // normal
$blockquote-em-font-italic: false; // normal
$blockquote-em-font-uppercase: false; // normal
$blockquote-em-font-variant: false; // normal
/// figcaption
$figcaption-font-family: $body-font-family;
$figcaption-font-bold: false; // normal
$figcaption-font-italic: true; // italic
$figcaption-font-uppercase: false; // normal
$figcaption-font-variant: false; // normal
$figcaption-font-size: 0.857em;
$figcaption-line-height: 1.4286;
$figcaption-color: #666;
/// article
$article-font-size: 1.125em;
$article-line-height: 1.6667;
$article-word-spacing: 0.1em;
$article-margin: 1.1111em 0;
/// article:first-letter
$article-fl-display: inline-block;
$article-fl-float: left;
$article-fl-font-family: $secondary-font;
$article-fl-font-bold: true; // bold
$article-fl-font-italic: false; // normal
$article-fl-font-uppercase: false; // normal
$article-fl-font-variant: false; // normal
$article-fl-font-size: 4em;
$article-fl-line-height: 0.75;
$article-fl-letter-spacing: -0.025em;
$article-fl-margin: 0.05em;
$article-fl-margin-pos: right;
$article-fl-background-color: #693;
$article-fl-color: #fff;
$article-fl-border-pos: false;
$article-fl-border-width: 1px;
$article-fl-border-style: solid;
$article-fl-border-color: #693;
/// time
$time-display: block;
$time-text-align: right;
$time-font-family: body-font-family;
$time-font-bold: false; // normal
$time-font-italic: false; // normal
$time-font-uppercase: true; // uppercase
$time-font-variant: false; // normal
$time-font-size: 0.75em;
$time-line-height: 1.6667;
$time-letter-spacing: 0.2em;
$time-color: #888;
$time-content: '—';
// Links
$link-color: #369;
$link-text-decoration: none;
$link-border-pos: bottom;
$link-border-width: 1px;
$link-border-style: dotted;
$link-border-color: $link-color;

$link-visited-link-color: $link-color;
$link-visited-border-pos: $link-border-pos;
$link-visited-border-width: $link-border-width;
$link-visited-border-style: $link-border-style;
$link-visited-border-color: $link-border-color;

$link-hover-link-color: #c03;
$link-hover-border-pos: $link-border-pos;
$link-hover-border-width: $link-border-width;
$link-hover-border-style: $link-border-style;
$link-hover-border-color: $link-hover-link-color;

$link-active-link-color: #900;
$link-active-border-pos: $link-border-pos;
$link-active-border-width: $link-border-width;
$link-active-border-style: $link-border-style;
$link-active-border-color: $link-active-link-color;

$logo-headers-border-pos: none;
$logo-headers-border-width: 0;
$logo-headers-border-style: $link-border-style;
$logo-headers-border-color: $link-active-link-color;


// Pagination
$pagination-font-family: $secondary-font;
$pagination-text-indent: 0;

/// Pagination li
$pagination-li-margin: 0;
$pagination-li-margin-pos: left;
$pagination-li-display: inline;
/// Pagination a
$pagination-a-display: inline-block;
$pagination-a-padding: 0.5em 1em;
$pagination-a-margin: 0.1em;
$pagination-a-border-radius: 0.25em;
$pagination-a-line-height: 1;
$pagination-a-border-pos: false;
$pagination-a-border-width: 1px;
$pagination-a-border-style: solid;
$pagination-a-border-color: #666;

/// Pagination links
$pagination-link-color: #fff;
$pagination-link-background-color: #369;
//// hover
$pagination-link-hover-color: $pagination-link-color;
$pagination-link-hover-background-color: #c03;
//// Active
$pagination-link-active-color: $pagination-link-color;
$pagination-link-active-background-color: #900;


// Feedback
$feedback-background: #ffc;
$feedback-padding: 0.125em 1em;
$feedback-margin: 1em 0;
$feedback-border-pos: top; 
$feedback-border-width: 0.125em; 
$feedback-border-style: solid;
$feedback-border-color: #cc9;
$feedback-border-radius: 0.25em;

/// Feedback Error
$feedback-error-background: #fcc;
$feedback-error-border-color: #c99;


// Forms
$forms-background-color: #fff;
$forms-padding: 0.125em;
$forms-border-pos: false; 
$forms-border-width: 1px; 
$forms-border-style: solid;
$forms-border-color: #ccc;
$forms-border-radius: 0.25em;

$forms-focus-border-color: #666;
$forms-required-border-color: #999;

/// Buttons
$button-font-family: $secondary-font;

$button-padding: 0.5em 1em;

$button-border-pos: false; 
$button-border-width: 1px; 
$button-border-style: solid;
$button-border-color: #666;
$button-border-radius: 1em;

$button-color: #fff;	
$button-gradient-pos: top;
$button-gradient-stop-1: #47a;
$button-gradient-stop-2: #258;

//// Hover & Focus
$button-hover-color: $button-color;
$button-hover-gradient-pos: $button-gradient-pos;
$button-hover-gradient-stop-1: #d04;
$button-hover-gradient-stop-2: #b02;

//// Active
$button-active-color: $button-color;
$button-active-gradient-pos: $button-gradient-pos;
$button-active-gradient-stop-1: #800;
$button-active-gradient-stop-2: #a00;


/// Search 
$search-border-radius: 1em;
$search-background-color: #fff;
$search-padding: 0 0.75em;
$search-border-pos: false; 
$search-border-width: 1px; 
$search-border-style: solid;
$search-border-color: #ccc;

//// Search Input
$search-input-border-pos: none; 
$search-input-border-width: 0; 
$search-input-border-style: solid;
$search-input-border-color: #ccc;
$search-input-border-radius: 0;

//// Search Input Image
$search-image-background-color: $search-background-color;
$search-image-width: 0.9375em;
$search-image-top: 0.2em;
$search-image-right: 0.6em;
$search-image-padding: 0.2em 0.2em;


// Controls
$controls-font-family: $secondary-font;
$controls-font-size: 1.5em;
$controls-padding: 0.5em 0.75em;
$controls-border-pos: false; 
$controls-border-width: 1px; 
$controls-border-style: solid;
$controls-border-color: #666;
$controls-border-radius: 0.25em;
/// Visited
$controls-visited-color: $button-color;
$controls-visited-gradient-pos: $button-gradient-pos;
$controls-visited-gradient-stop-1: #47a;
$controls-visited-gradient-stop-2: #258;
/// Hover
$controls-hover-color: $button-color;
$controls-hover-gradient-pos: $button-gradient-pos;
$controls-hover-gradient-stop-1: #d04;
$controls-hover-gradient-stop-2: #b02;
/// Active
$controls-active-color: $button-color;
$controls-active-gradient-pos: $button-gradient-pos;
$controls-active-gradient-stop-1: #800;
$controls-active-gradient-stop-2: #a00;


// Options
$options-border-pos: top;
$options-border-width: 1px;
$options-border-style: solid;
$options-border-color: #ccc;

$options-list-style: none;
/// Options li
$options-li-font-family: $secondary-font;
$options-li-text-indent: 0;
$options-li-text-transform: uppercase;
$options-li-letter-spacing: 0.15em;
$options-li-font-weight: bold;
$options-li-margin: 0;
$options-li-padding: 0.3125em 0.625em;
$options-li-border-pos: bottom;
$options-li-border-width: 1px;
$options-li-border-style: solid;
$options-li-border-color: #ccc;
/// Options a
$options-a-border-pos: none;
$options-a-border-width: 0;
$options-a-border-style: solid;
$options-a-border-color: #ccc;

